@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-green: #63e2b7;
  --main-bg: #18181c;
}

body {
  background: var(--main-bg);
  color: rgba(255, 255, 255, 0.82);
  padding: 12px;
}

.container {
  width: 100%;
  margin: auto;

  @media (min-width: 500px) {
    width: 75vw;
  }

  @media (min-width: 600px) {
    width: 55vw;
  }

  @media (min-width: 1024px) {
    width: 45vw;
  }

  @media (min-width: 1440px) {
    width: 25vw;
  }
}
